body {
  background-image: url(/assets/images/scored-bg.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  #root {
    background-image: url(/assets/images/bg.svg);
    background-attachment: fixed;
    width: 100%;
    max-width: initial;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .results-page {
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
    flex-direction: column;
    display: flex;

    h1 {
      font-style: normal;
      font-weight: 700;
      font-size: 160px;
      line-height: 237px;
      text-align: center;
      text-transform: uppercase;

      color: #37CFA0;
    }

    h2 {
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 53px;
      text-align: center;
      text-transform: uppercase;

      color: #FFFFFF;
    }

    h3 {
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 30px;
      text-align: center;

      color: #FFFFFF;
    }

    .action {
      display: flex;
      gap: 20px;
      margin-top: 32px;

      .btn {
        min-width: 154px;
        height: 64px;
        display: flex;
        place-content: center;
        place-items: center;

        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 36px;
        /* identical to box height, or 225% */

        text-transform: uppercase;
        border-radius: 40px;


        &-light {
          color: #000000;
        }

        &-secondary {
          color: #FFFFFF;
          background: #000000;
          border: 1px solid #FFFFFF;
        }
      }
    }
  }
}